### First Stage of the Data Preprocessing Phase.
- Re-Organize the Data from the original form
- For the purpose of expediency, i will change the names of the ETFs one after the other and save the files using the same name to the same location.

In [52]:
# I am combining all the etfs as one sheet so that i can perform EDA on it.

import pandas as pd

etf = ('/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/RAW/ETFS/VXUS_historical_data.csv')
df = pd.read_csv(etf)
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,VXUS,VXUS,VXUS,VXUS,VXUS
1,Date,NaN,NaN,NaN,NaN,NaN
2,2015-06-15,38.22300720214844,38.22300720214844,38.007770171413846,38.07456777297815,352700
3,2015-06-16,38.23041534423828,38.24525956540496,38.00775768922949,38.0745552688567,245900
4,2015-06-17,38.20073699951172,38.28979951220714,37.8444841174838,38.14136010355062,350300

In [53]:
df.insert(0, 'Ticker', 'VXUS')
df.head()

,Ticker,Price,Close,High,Low,Open,Volume
0,VXUS,Ticker,VXUS,VXUS,VXUS,VXUS,VXUS
1,VXUS,Date,NaN,NaN,NaN,NaN,NaN
2,VXUS,2015-06-15,38.22300720214844,38.22300720214844,38.007770171413846,38.07456777297815,352700
3,VXUS,2015-06-16,38.23041534423828,38.24525956540496,38.00775768922949,38.0745552688567,245900
4,VXUS,2015-06-17,38.20073699951172,38.28979951220714,37.8444841174838,38.14136010355062,350300

In [54]:
df = df.drop([0, 1])
df.head()

,Ticker,Price,Close,High,Low,Open,Volume
2,VXUS,2015-06-15,38.22300720214844,38.22300720214844,38.007770171413846,38.07456777297815,352700
3,VXUS,2015-06-16,38.23041534423828,38.24525956540496,38.00775768922949,38.0745552688567,245900
4,VXUS,2015-06-17,38.20073699951172,38.28979951220714,37.8444841174838,38.14136010355062,350300
5,VXUS,2015-06-18,38.5495719909668,38.75738832597309,38.319493563589084,38.35660271336807,275400
6,VXUS,2015-06-19,38.3714485168457,38.49762019753007,38.3714485168457,38.49019949976789,252100

In [55]:
df.rename(columns={df.columns[1]: 'Date'}, inplace=True)
df.head()

,Ticker,Date,Close,High,Low,Open,Volume
2,VXUS,2015-06-15,38.22300720214844,38.22300720214844,38.007770171413846,38.07456777297815,352700
3,VXUS,2015-06-16,38.23041534423828,38.24525956540496,38.00775768922949,38.0745552688567,245900
4,VXUS,2015-06-17,38.20073699951172,38.28979951220714,37.8444841174838,38.14136010355062,350300
5,VXUS,2015-06-18,38.5495719909668,38.75738832597309,38.319493563589084,38.35660271336807,275400
6,VXUS,2015-06-19,38.3714485168457,38.49762019753007,38.3714485168457,38.49019949976789,252100

In [56]:
# i want to save it back to the same location
df.to_csv('/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/RAW/ETFS/VXUS_historical_data.csv', index=False)
df.head()

,Ticker,Date,Close,High,Low,Open,Volume
2,VXUS,2015-06-15,38.22300720214844,38.22300720214844,38.007770171413846,38.07456777297815,352700
3,VXUS,2015-06-16,38.23041534423828,38.24525956540496,38.00775768922949,38.0745552688567,245900
4,VXUS,2015-06-17,38.20073699951172,38.28979951220714,37.8444841174838,38.14136010355062,350300
5,VXUS,2015-06-18,38.5495719909668,38.75738832597309,38.319493563589084,38.35660271336807,275400
6,VXUS,2015-06-19,38.3714485168457,38.49762019753007,38.3714485168457,38.49019949976789,252100

### CONCATENATING ALL THE CSVs AS ONE UNIFIED SHEET

In [58]:
import os
import pandas as pd

# Folder containing the CSV files
folder_path = '/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/RAW/ETFS'

dataframes = []

# Flag to track if the first file has been processed
first_file = True

# Iterate through all CSV files in the folder
for file in os.listdir(folder_path):
    if file.endswith('.csv'):
        file_path = os.path.join(folder_path, file)
        
        # Read the CSV file
        if first_file:
            # For the first file, keep the header
            df = pd.read_csv(file_path)
            first_file = False
        else:
            # For subsequent files, don't keep the header
            df = pd.read_csv(file_path, header=None)
            df.columns = dataframes[0].columns  # Assign column names from the first CSV
            
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the merged DataFrame to a new CSV file
new_path = ("/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/Final_csv")
merged_csv_path = os.path.join(new_path, 'combined_etfs.csv')
merged_df.to_csv(merged_csv_path, index=False)

print(f"Combined CSV saved to: {merged_csv_path}")

Combined CSV saved to: /Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/Final_csv/combined_etfs.csv

In [59]:
df = pd.read_csv(merged_csv_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20127 entries, 0 to 20126
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  20127 non-null  object
 1   Date    20127 non-null  object
 2   Close   20127 non-null  object
 3   High    20127 non-null  object
 4   Low     20127 non-null  object
 5   Open    20127 non-null  object
 6   Volume  20127 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [60]:
df.shape

(20127, 7)