### Data Preprocessing
- We are going to clean the data to ensure that it is clean and functioning at all levels

##### Raw Etf data

In [41]:
import pandas as pd
import numpy as np

etf = "/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/Final_csv/1-combined_etfs.csv"
df = pd.read_csv(etf)
df.head()

,Ticker,Date,Close,High,Low,Open,Volume
0,SPY,2015-06-15,175.939606,176.225670,174.828987,175.544159,124384200
1,SPY,2015-06-16,176.898773,176.982916,175.611473,175.788154,85308200
2,SPY,2015-06-17,177.184830,177.799042,176.149944,177.184830,126708600
3,SPY,2015-06-18,179.027496,179.498664,177.218548,177.790676,165867900
4,SPY,2015-06-19,178.232697,178.858346,177.852239,178.782257,130478700

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20120 entries, 0 to 20119
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  20120 non-null  object
 1   Date    20120 non-null  object
 2   Close   20120 non-null  float64
 3   High    20120 non-null  float64
 4   Low     20120 non-null  float64
 5   Open    20120 non-null  float64
 6   Volume  20120 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.1+ MB

In [43]:
# Strip spaces & whitespaces from column names
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(' ', '')
df.head()

,Ticker,Date,Close,High,Low,Open,Volume
0,SPY,2015-06-15,175.939606,176.225670,174.828987,175.544159,124384200
1,SPY,2015-06-16,176.898773,176.982916,175.611473,175.788154,85308200
2,SPY,2015-06-17,177.184830,177.799042,176.149944,177.184830,126708600
3,SPY,2015-06-18,179.027496,179.498664,177.218548,177.790676,165867900
4,SPY,2015-06-19,178.232697,178.858346,177.852239,178.782257,130478700

In [44]:
df['Ticker'] = df['Ticker'].astype(str)
df.head()
#convert the ticker to string

,Ticker,Date,Close,High,Low,Open,Volume
0,SPY,2015-06-15,175.939606,176.225670,174.828987,175.544159,124384200
1,SPY,2015-06-16,176.898773,176.982916,175.611473,175.788154,85308200
2,SPY,2015-06-17,177.184830,177.799042,176.149944,177.184830,126708600
3,SPY,2015-06-18,179.027496,179.498664,177.218548,177.790676,165867900
4,SPY,2015-06-19,178.232697,178.858346,177.852239,178.782257,130478700

In [45]:
df.columns

Index(['Ticker', 'Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [46]:
# convert the date column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')
# Check for null values in the Date column
null_dates = df['Date'].isnull().sum()
if null_dates > 0:
    print(f"Warning: {null_dates} null values found in the Date column.")
else:
    print("No null values found in the Date column.")

#show the date column that are null
null_date_rows = df[df['Date'].isnull()]
print("Rows with null dates:")
print(null_date_rows)

No null values found in the Date column.
Rows with null dates:
Empty DataFrame
Columns: [Ticker, Date, Close, High, Low, Open, Volume]
Index: []

In [47]:
#drop all the 7 null values in the date column, delete those rows
df = df.dropna(subset=['Date'])
# Reset the index after dropping rows
df.reset_index(drop=True, inplace=True)
# Check the shape of the DataFrame after dropping null dates
print(f"Shape of DataFrame after dropping null dates: {df.shape}")
df.head()

Shape of DataFrame after dropping null dates: (20120, 7)

  Ticker       Date       Close        High         Low        Open     Volume
0    SPY 2015-06-15  175.939606  176.225670  174.828987  175.544159  124384200
1    SPY 2015-06-16  176.898773  176.982916  175.611473  175.788154   85308200
2    SPY 2015-06-17  177.184830  177.799042  176.149944  177.184830  126708600
3    SPY 2015-06-18  179.027496  179.498664  177.218548  177.790676  165867900
4    SPY 2015-06-19  178.232697  178.858346  177.852239  178.782257  130478700

In [48]:
#convert all the other colomns aside date and ticker to numeric; float
numeric_columns = df.columns.difference(['Date', 'Ticker'])
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')
# Check for null values in the numeric columns
null_numeric = df[numeric_columns].isnull().sum()
if null_numeric.any():
    print("Warning: Null values found in the following numeric columns:")
    print(null_numeric[null_numeric > 0])
else:
    print("No null values found in numeric columns.")

No null values found in numeric columns.

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20120 entries, 0 to 20119
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  20120 non-null  object
 1   Date    20120 non-null  datetime64[ns]
 2   Close   20120 non-null  float64
 3   High    20120 non-null  float64
 4   Low     20120 non-null  float64
 5   Open    20120 non-null  float64
 6   Volume  20120 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 1.1+ MB

In [50]:
df.to_csv('/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/Final_csv/1-combined_etfs.csv', index=False)

##### MACRO DATA FROM FRED

In [55]:
macro = "/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/RAW/FRED/macro_data_20250612.csv"
df = pd.read_csv(macro)
df.head()

,Unnamed: 0,cpi,core_cpi,pce_price_index,real_gdp,industrial_production,durable_goods_orders,unemployment_rate,nonfarm_payrolls,jobless_claims,...,treasury_10y,treasury_3m,baa_yield,aaa_yield,consumer_credit,mortgage_rate_30y,housing_starts,building_permits,new_home_sales,umich_consumer_sentiment
0,1947-01-01,21.48,NaN,NaN,2182.681,13.6554,NaN,NaN,43535.0,NaN,...,NaN,NaN,NaN,NaN,9770.20,NaN,NaN,NaN,NaN,NaN
1,1947-02-01,21.62,NaN,NaN,NaN,13.7361,NaN,NaN,43557.0,NaN,...,NaN,NaN,NaN,NaN,10089.00,NaN,NaN,NaN,NaN,NaN
2,1947-03-01,22.00,NaN,NaN,NaN,13.8167,NaN,NaN,43607.0,NaN,...,NaN,NaN,NaN,NaN,10345.85,NaN,NaN,NaN,NaN,NaN
3,1947-04-01,22.00,NaN,NaN,2176.892,13.7092,NaN,NaN,43499.0,NaN,...,NaN,NaN,NaN,NaN,10645.94,NaN,NaN,NaN,NaN,NaN
4,1947-05-01,21.95,NaN,NaN,NaN,13.7629,NaN,NaN,43638.0,NaN,...,NaN,NaN,NaN,NaN,10926.31,NaN,NaN,NaN,NaN,NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                941 non-null    object
 1   cpi                       941 non-null    float64
 2   core_cpi                  821 non-null    float64
 3   pce_price_index           796 non-null    float64
 4   real_gdp                  313 non-null    float64
 5   industrial_production     940 non-null    float64
 6   durable_goods_orders      399 non-null    float64
 7   unemployment_rate         929 non-null    float64
 8   nonfarm_payrolls          941 non-null    float64
 9   jobless_claims            101 non-null    float64
 10  fed_funds_rate            851 non-null    float64
 11  treasury_10y              866 non-null    float64
 12  treasury_3m               525 non-null    float64
 13  baa_yield                 302 non-null    float64
 14  aaa_yield                 325 non-null    float64
 15  consumer_credit           940 non-null    float64
 16  mortgage_rate_30y         87 non-null     float64
 17  housing_starts            796 non-null    float64
 18  building_permits          784 non-null    float64
 19  new_home_sales            748 non-null    float64
 20  umich_consumer_sentiment  660 non-null    float64
dtypes: float64(20), object(1)
memory usage: 154.5+ KB

In [57]:
# change the unnamed column to date
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
# Strip spaces & whitespaces from column names
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(' ', '')
# convert the date column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')
df.head()

,Date,cpi,core_cpi,pce_price_index,real_gdp,industrial_production,durable_goods_orders,unemployment_rate,nonfarm_payrolls,jobless_claims,...,treasury_10y,treasury_3m,baa_yield,aaa_yield,consumer_credit,mortgage_rate_30y,housing_starts,building_permits,new_home_sales,umich_consumer_sentiment
0,1947-01-01,21.48,NaN,NaN,2182.681,13.6554,NaN,NaN,43535.0,NaN,...,NaN,NaN,NaN,NaN,9770.20,NaN,NaN,NaN,NaN,NaN
1,1947-02-01,21.62,NaN,NaN,NaN,13.7361,NaN,NaN,43557.0,NaN,...,NaN,NaN,NaN,NaN,10089.00,NaN,NaN,NaN,NaN,NaN
2,1947-03-01,22.00,NaN,NaN,NaN,13.8167,NaN,NaN,43607.0,NaN,...,NaN,NaN,NaN,NaN,10345.85,NaN,NaN,NaN,NaN,NaN
3,1947-04-01,22.00,NaN,NaN,2176.892,13.7092,NaN,NaN,43499.0,NaN,...,NaN,NaN,NaN,NaN,10645.94,NaN,NaN,NaN,NaN,NaN
4,1947-05-01,21.95,NaN,NaN,NaN,13.7629,NaN,NaN,43638.0,NaN,...,NaN,NaN,NaN,NaN,10926.31,NaN,NaN,NaN,NaN,NaN

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      941 non-null    datetime64[ns]
 1   cpi                       941 non-null    float64
 2   core_cpi                  821 non-null    float64
 3   pce_price_index           796 non-null    float64
 4   real_gdp                  313 non-null    float64
 5   industrial_production     940 non-null    float64
 6   durable_goods_orders      399 non-null    float64
 7   unemployment_rate         929 non-null    float64
 8   nonfarm_payrolls          941 non-null    float64
 9   jobless_claims            101 non-null    float64
 10  fed_funds_rate            851 non-null    float64
 11  treasury_10y              866 non-null    float64
 12  treasury_3m               525 non-null    float64
 13  baa_yield                 302 non-null    float64
 14  aaa_yield                 325 non-null    float64
 15  consumer_credit           940 non-null    float64
 16  mortgage_rate_30y         87 non-null     float64
 17  housing_starts            796 non-null    float64
 18  building_permits          784 non-null    float64
 19  new_home_sales            748 non-null    float64
 20  umich_consumer_sentiment  660 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 154.5 KB

In [61]:
# cut of years before 2015
df = df[df['Date'] >= '2015-01-01']
# Reset the index after filtering
df.reset_index(drop=True, inplace=True)
# Check the shape of the DataFrame after filtering
print(f"Shape of DataFrame after filtering: {df.shape}")
df.head()

Shape of DataFrame after filtering: (125, 21)

,Date,cpi,core_cpi,pce_price_index,real_gdp,industrial_production,durable_goods_orders,unemployment_rate,nonfarm_payrolls,jobless_claims,...,treasury_10y,treasury_3m,baa_yield,aaa_yield,consumer_credit,mortgage_rate_30y,housing_starts,building_permits,new_home_sales,umich_consumer_sentiment
0,2015-01-01,234.747,239.811,96.654,18666.621,102.7923,225739.0,5.7,140568.0,NaN,...,1.88,0.03,NaN,NaN,3319927.62,NaN,1085.0,1049.0,515.0,98.1
1,2015-02-01,235.342,240.172,96.825,NaN,102.1366,217321.0,5.5,140827.0,NaN,...,1.98,0.02,NaN,NaN,3337842.03,NaN,886.0,1127.0,540.0,95.4
2,2015-03-01,235.976,240.755,97.008,NaN,101.7869,230136.0,5.4,140923.0,NaN,...,2.04,0.03,NaN,NaN,3360574.45,NaN,960.0,1072.0,480.0,93.0
3,2015-04-01,236.222,241.346,97.094,18782.243,101.2255,225656.0,5.4,141196.0,NaN,...,1.94,0.02,2.55,1.58,3382635.52,NaN,1190.0,1166.0,502.0,95.9
4,2015-05-01,237.001,241.688,97.327,NaN,100.7675,218316.0,5.6,141538.0,NaN,...,2.20,0.02,2.61,1.70,3399358.91,NaN,1079.0,1272.0,502.0,90.7

In [62]:
df.to_csv('/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/EDA/ETFs_datasets/Final_csv/3-macro_data.csv', index=False)